body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.section-container {
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 800px;
    overflow: hidden;
    padding: 20px;
}

.section-container h2 {
    /* background-color: #cdd; */
    border-radius: 10px 10px 0 0;
    color: #222;
    font-size: 20px;
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.section-container .published{
    color: #222;
    font-size: 18px;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.section-container .abstract {
    margin: 15px;
    padding-left: 5px;
    padding-right: 5px;
    color: #2a2a2a;
}

.section-container .full {
    margin: 15px;
    text-align: right;
    margin-bottom: 5px;
}